body {
  font-family: "Avenir Next";
}

h2 {
  font-weight:bold;
  padding: 30px;
  text-align: center;
  }

.full-img{
    background-image: url(/daria-nepriakhina-zNU3ErDAbAw-unsplash.jpg); /* 画像のURLを指定  */
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-size: contain;                               /* 画像のサイズを指定    */
    background-position: center top;
    width: 100%;
    min-height: 650px;
}
