.top-message {
  background-image: url("/the-creative-exchange-d2zvqp3fpro-unsplash.jpg");
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  }
