body {
  font-family: "Avenir Next";
}

.full-img{
    background-image: url(/daria-nepriakhina-zNU3ErDAbAw-unsplash.jpg); /* 画像のURLを指定       */
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-position: center center;                     /* 画像の表示位置を指定  */
    background-size: auto 1000px;                               /* 画像のサイズを指定    */
}
