.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  background-image: url("the-creative-exchange-d2zvqp3fpro-unsplash.jpg");
}

.top-message {
  position: relative;
}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 24px;
}
