body {
  font-family: "Avenir Next";
}

.full-img{
    background-image:url(/the-creative-exchange-d2zvqp3fpro-unsplash.jpg); /* 画像のURLを指定       */
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-position:center center;                     /* 画像の表示位置を指定  */
    background-size:contain;                               /* 画像のサイズを指定    */
    width:100%;                                            /* 横幅のサイズを指定    */
    height:400px;                                          /* 縦幅のサイズを指定    */
}
