body {
  font-family: "Avenir Next";
}

.top-main {
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("the-creative-exchange-d2zvqp3fpro-unsplash.jpg");
}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 24px;
